<!DOCTYPE html>
  <head>
  <title>Tiny App</title>
  </head>
  <body>
  <header>
    <% include ./partials/_header %>
  </header>
  <p>
    <ul>
      <% if(user) {%>
        <% for(let key in urls) { %>
          
          <li><%= key %> <%= urls[key].urls %></li>
          
          <form action="/urls/<%= key  %>" method="POST">
            <div>
            </div>
            <input id="newURL" type="text" name="newURL" value="<%= urls[key].longURL %>"/> 
            <a href = "<%= urls[key].longURL %>"> Visit the site </a>
          </form>
          
          <form action="/urls/<%= key %>/delete" method="POST">
            <input type="submit" value="Delete">
          </form>
          
          <form action="/urls/<%= key %>" method="GET">
            <input type="submit" value="Edit">
          </form>
          
          <% } %>
          <a href = "/urls/new"> Create new short URL</a>
          
        </ul>
      </p>
    <% } %>
  </body>
  </html>
